

.header {
    background-image: url(../images/footer/image-9.jpg);
}

.header__top {
    background-color: #1d1714d6;
}

.header__botton {
    background-image: url(../images/locations-page/image-16.png);
    height: 434px;
}

